<nav>
    <div class="px-2 pb-2 d-flex justify-content-right" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <a href="/dashboard" style="text-decoration: none; color: black; align-items:center; display: flex;">
            <img src="/assets/img/logo.png" alt="Flair Mail Logo" srcset="" width="45" height="45">
            <div>
                <span class="h4" style="margin: 1px 5px; font-weight: 500;">Flair Mail</span>
                <span class="text-secondary" id="useremail" style="margin: auto 5px; font-weight: 400; font-size: 14px;"><%=email%></span>
            </div>

        </a>
    </div>
    <div class="btn-block mt-2">
        <button type="button" class="btn btn-block text-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #23b3f7;">
            <i class="fa-sharp fa-solid fa-plus"></i>  New Email
        </button>
    </div>
    <ul class="nav">
        
        <li class="nav-item <%= activePage=='inbox' ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard"><i class="fa fa-inbox"></i> Inbox
                
                <span class="badge bg-danger">4</span>
                
            </a>
        </li>
        <li class="nav-item <%= activePage=='stared' ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard/stared"><i class="fa fa-star"></i> Stared</a>
        </li>
        <li class="nav-item <%= activePage=='sent-page' ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard/all-sent"><i class="fa fa-rocket"></i> Sent</a>
        </li>
        <li class="nav-item <%= activePage=='draft' ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard/draft"><i class="fa-brands fa-firstdraft"></i> Draft</a>
        </li>
        <li class="nav-item <%= activePage=='trash' ? 'active' : '' %>">
            <a class="nav-link" href="/dashboard/trash"><i class="fa-sharp fa-solid fa-trash"></i> Trash</a>
        </li>
        <li class="nav-item " style="cursor: pointer;">            
            <div class="nav-link" style="display: flex; justify-content: space-between" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <div >
                    <i class="fa fa-user-group"></i> Mails 
                </div>
                <div>
                    <i class="fa fa-caret-down" style="margin: auto 0px;"></i>
                </div>
            </div>
            <ul class="collapse py-3 ps-3" id="collapseExample" style="background-color: rgba(255, 255, 255, 0.724);">
                <li style="list-style-type: none; display: flex; justify-content: space-between; margin-bottom:10px;">
                    <img class="rounded-circle border border-1" style="margin: auto 0px;" width="25" height="25" src="https://www.pngkey.com/png/detail/72-729716_user-avatar-png-graphic-free-download-icon.png" alt="" >
                    <div style="margin: auto 0px;">
                        <a class="" href="#" style="text-decoration: none; color: black">Action</a>
                    </div>
                    <div class="dropend">
                        <i class="fa fa-ellipsis-vertical me-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin: auto 0px;"></i>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" style="color: red;"><i class="fa-solid fa-ban"></i> Block</a></li>
                                <li><a class="dropdown-item" href="#" style="color: green"><i class="fa-regular fa-circle-check"></i> Unblock</a></li>
                            </ul>
                          
                    </div>
                </li>
                <li style="list-style-type: none; display: flex; justify-content: space-between; margin-bottom:10px;">
                    <img class="rounded-circle border border-1" style="margin: auto 0px;" width="25" height="25" src="https://www.pngkey.com/png/detail/72-729716_user-avatar-png-graphic-free-download-icon.png" alt="" >
                    <div style="margin: auto 0px;">
                        <a class="" href="#" style="text-decoration: none; color: black">Action</a>
                    </div>
                    <div class="dropend">
                        <i class="fa fa-ellipsis-vertical me-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin: auto 0px;"></i>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" style="color: red;"><i class="fa-solid fa-ban"></i> Block</a></li>
                                <li class="check"><a class="dropdown-item" href="#" style="color: green"><i class="fa-regular fa-circle-check"></i> Unblock</a></li>
                            </ul>
                          
                    </div>
                </li>
                <li style="list-style-type: none; display: flex; justify-content: space-between; margin-bottom:10px;">
                    <img class="rounded-circle border border-1" style="margin: auto 0px;" width="25" height="25" src="https://www.pngkey.com/png/detail/72-729716_user-avatar-png-graphic-free-download-icon.png" alt="" >
                    <div style="margin: auto 0px;">
                        <a class="" href="#" style="text-decoration: none; color: black">Action</a>
                    </div>
                    <div class="dropend">
                        <i class="fa fa-ellipsis-vertical me-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin: auto 0px;"></i>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" style="color: red;"><i class="fa-solid fa-ban"></i> Block</a></li>
                                <li><a class="dropdown-item" href="#" style="color: green"><i class="fa-regular fa-circle-check"></i> Unblock</a></li>
                            </ul>
                          
                    </div>
                </li>
                
                
                
            
            </ul>
        </li>
    </ul>
</nav>
<style>
    ul .active{
        background-color: white;
    }
    .dropend .dropdown-toggle::after {
        content: none;
    }
    .check {
        background-color: #23b4f7cf;
    }
</style>